@import "../utils/vars";
.menu{
	&__logo{
		margin-left: $page-border-space;
		max-height: 50px;
	}
	&__container{
		background: $main-orange;
		padding-left: $page-border-space;
		position: relative;
		ul{
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			li{
				float: left;
				padding: 10px 0;
				margin-right: 50px;
				a{
					color: white;
					text-decoration: none;
					&:hover{
						color: $main-black;
					}
				}
			}
		}
	}
	&__social{
		position: absolute;
		right: 90px;
		top: -10px;
		img{
			max-height: 55px;
		}
	}
}