<div class="menu">
	<img class="menu__logo" src="images/logo.png" />
	<div class="menu__container">
		<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Tienda</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
		<div class="menu__social">
			<a href="#"><img src="images/social/fb.png" /></a>
			<a href="#"><img src="images/social/tw.png" /></a>
			<a href="#"><img src="images/social/instagram.png" /></a>
			<a href="#"><img src="images/social/youtube.png" /></a>
		</div>
	</div>
</div>