.menu__logo {
  margin-left: 120px;
  max-height: 50px; }
.menu__container {
  background: #ffa800;
  padding-left: 120px;
  position: relative; }
  .menu__container ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0; }
    .menu__container ul li {
      float: left;
      padding: 10px 0;
      margin-right: 50px; }
      .menu__container ul li a {
        color: white;
        text-decoration: none; }
        .menu__container ul li a:hover {
          color: #212121; }
.menu__social {
  position: absolute;
  right: 90px;
  top: -10px; }
  .menu__social img {
    max-height: 55px; }
