<div class="testimonials">
	<h2 class="testimonials__title">Testimonios</h2>
	<div class="testimonials__container">
		<div class="testimonial">
			<img src="images/dummy/testimonial.jpg" />
		</div>
		<div class="testimonial">
			<img src="images/dummy/testimonial.jpg" />
		</div>
		<div class="testimonial">
			<img src="images/dummy/testimonial.jpg" />
		</div>
	</div>
</div>