<div class="testimonials">
	<h2 class="testimonials__title">Testimonios</h2>
	<div class="testimonials__container">
		<div class="testimonial">
			<figure>
				<img src="images/dummy/testimonial.jpg" />
			</figure>
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ornare justo ac faucibus. Sed ut magna hendrerit, varius ante nec, rutrum tortor. Praesent finibus blandit placerat. Maecenas ipsum felis, scelerisque ultrices semper non</p>
			<h4>Marvin Solano</h4>
			<p>(CEO & Founder)</p>
		</div>
		<div class="testimonial">
			<figure>
				<img src="images/dummy/testimonial.jpg" />
			</figure>
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ornare justo ac faucibus. Sed ut magna hendrerit, varius ante nec.</p>
			<h4>Marvin Solano</h4>
			<p>(CEO & Founder)</p>
		</div>
		<div class="testimonial">
			<figure>
				<img src="images/dummy/testimonial.jpg" />
			</figure>
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ornare justo ac faucibus. Sed ut magna hendrerit, varius ante nec, rutrum tortor. Praesent finibus blandit placerat. Maecenas ipsum.</p>
			<h4>Marvin Solano</h4>
			<p>(CEO & Founder)</p>
		</div>
	</div>
</div>