<div class="intro">
	<img class="intro__image" src="images/dummy/family-intro.png" />
	<div class="intro__description">
		<h1>Sobre Herramientas Familiares</h1>
		<p>Por más de 10 años de trabajar con familias hemos podido ver que la principal causa de crisis familiar se debe a la falta de información, formación y entrenamiento que tienen los padres para enfrentar el día a día con sus hijos. Los padres de familia están con mucho estrés, con mucho desgaste e incluso con mucha frustración, por lo cual hay nulo disfrute de los hijos. Las herramientas que pondremos a su alcance han sido diseñadas a través del complemento de principios científicos con la vivencia de miles de familias con las que hemos trabajado cara a cara través de talleres y seminarios.</p>
	</div>
</div>